$primary-color: #000DFF;

.navbar {
  background-color: transparent !important;
  overflow: hidden;
  transition: 0.5s all ease-in;
}

.navbar li a {
  color: #fff;
  font-weight: 600;
}

.navbar-brand {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: rgb(255, 255, 255, 0.95);
  border-radius: 6px;
}

.nav-link {
  transition: 0.3s all ease-in;
}

.navbar-toggler {
  color: #3330e4;
  font-size: 27px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-shrink {
  background-color: #f8f9fa !important;

  .nav-link {
    color: #3330e4 !important;
  }

  .nav-link:hover {
    color: #111111 !important;
  }
}

.cursorp {
  cursor: pointer;
}

@media (max-width: 767px) {
  .navbar {
    background-color: #f8f9fa !important;
  }

  .navbar li a {
    color: #111111 !important;
  }
}



.single-welcome-slide .welcome-text {
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  // -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.single-welcome-slide .welcome-thumbnail {
  position: absolute;
  width: 38%;
  top: 50%;
  right: 10%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 800px;
  background-color: #1c66de;
}

.header-area {
  position: relative;
  z-index: 10;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #1c66de;
}

.welcome-area {
  position: relative;
  z-index: 1;
}

.welcome-area .welcome-pattern {
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 100;
}

.welcome-area .welcome-pattern img {
  width: 100%;
}

.section-title-small {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 600;
}
#about {
  padding: 4rem 0;
}
#services {
  overflow: hidden;
  padding: 5rem 0;
}

#services .card {
  transition: all 0.3s ease-in;
}

#services .card:hover {
  box-shadow: -10px 10px 76px rgba(54, 127, 255, 0.12);
}

#services .card:hover .moreBtn {
  left: 0;
  background-color: rgba(0, 13, 255, 0.06);
}

#services .card .moreBtn {
  color: #000DFF;
  position: relative;
  left: -0.75rem;
  transition: all 0.3s ease-in;
}

.section-header .section-brief {
  color: #6D6E8D;
}

.section-title {
  color: #00044A;
}

.primary-text-color {
  color: #00044A;
}

.serviceIcon span {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 15px 60px rgba(54, 127, 255, 0.1);
  margin-bottom: 1.5rem;
}

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  overflow: hidden;
}

.section-header {
  padding-bottom: 30px;
}

h3 {
  font-size: 36px;
  // color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.info {
  color: #283d50;
}

.info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 20px;
}

.info i {
  font-size: 40px;
  font-weight: bold;
  color: #3330e4;
  float: left;
  line-height: 0;
}

.submitButton {
  background: #3330e4;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}