<section class="nav_bar">
  <nav class="navbar fixed-top navbar-expand-md bg-dark" [class.navbar-shrink]="windowScrolled" id="mainNav">
    <div class="container">
      <a class="pe-3 navbar-brand text-white cursorp" (click)="scrollToTarget('.landingPage')"><img
          src="../assets/logo/Logo.png" width="135px" class="h-100" alt=""></a>
      <button class="navbar-toggler" id="menu-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon h-100">
          <i class="fa-solid fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 px-md-0 px-lg-0">
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.welcome-area')" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.about')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.services')">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.Career')">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.contact')">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section id="welcome-area" class="welcome-area align-center">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <p class="section-title-small ps-1">Rs infosolution</p>
        <h1 class="display-5 mb-4"
          style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 900;">
          Design,<br /> Development, Delivery</h1>
        <p class="text-gray-50">Far far away, behind the word mountains,<br /> far from the countries Vokalia and
          Consonantia,
          there live the blind
          texts.</p>
        <button type="button" class="btn getInTouch-btn mt-3">Get in touch</button>
      </div>
    </div>
  </div>
</section>

<section class="about pt-0 mt-5" id="about ">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-7">
        <img src="../assets/img/about.svg" class="h-100 w-100" alt="">
      </div>
      <div class="col-md-5">
        <p class="section-title-small">about us</p>
        <h1 class="display-5 mb-3"
          style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 900;">
          Create,<br />
          Enhance and Sustain</h1>
        <p class="text-gray-50">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at the coast
        </p>
        <p class="text-gray-50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, ex. Corporis nobis cupiditate quasi, numquam
          laudantium quia laboriosam? Dolorem error inventore eius facere ipsum tenetur, eaque quos numquam sequi
          reiciendis!
        </p>
        <div class="aboutInfo mt-4">
          <p><span class="me-2"><i class="fa-solid fa-check text-primary-400 fs-6 lh"></i></span> There live the blind
            texts</p>
          <p><span class="me-2"><i class="fa-solid fa-check text-primary-400 fs-6 lh"></i></span> Far far away behind
            the word</p>
          <p><span class="me-2"><i class="fa-solid fa-check text-primary-400 fs-6 lh"></i></span> Their place and
            supplies</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="services" class="services">
  <div class="container">
    <div class="section-header text-center">
      <h1 class="section-title fw-bold mb-3">Our Services</h1>
      <p class="section-brief w-75 mx-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quaerat fugit architecto tempora asperiores
        temporibus voluptas.
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
      <div class="col" *ngFor="let item of serviceData , let i = index ">
        <div class="card border-0 h-100">
          <div class="card-body">
            <div class="serviceIcon ">
              <span class="d-flex align-items-center justify-content-center">
                <img [src]="'../assets/img/' + item.src" alt="">
              </span>
            </div>
            <h5 class="card-title primary-text-color ls-05 fw-bold">{{ item.name }}</h5>
            <p class="text-gray-50">{{ item.content }}</p>
            <button type="button" class="btn moreBtn mt-2" data-bs-toggle="offcanvas"
              attr.data-bs-target="#exampleModal{{item.no}}" attr.aria-controls="exampleModal{{i}}">Browse
              More</button>
          </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="exampleModal{{item.no}}"
          aria-labelledby="offcanvasRightLabel" style="width: 40rem;">
          <div class="offcanvas-header">
            <!-- <img [src]="'../assets/img/' + item.src" alt="" width="25px" height="30px"> -->
            <h5 id="offcanvasRightLabel" class="mt-2">{{ item.name}}</h5>
            <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
          </div>
          <div class="offcanvas-body text-center">
            <h6>List of <b>{{ item.name}}</b></h6>

            <div>
              <div class="card">
                <div class="card-header">
                  {{item.list1}}
                </div>
                <div class="card-body">
                  <span class="text-muted" style="font-size: 12px;">{{item.listdata1}}</span>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header">
                  {{item.list2}}
                </div>
                <div class="card-body">
                  <span class="text-muted" style="font-size: 12px;">{{item.listdata2}}</span>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header">
                  {{item.list3}}
                </div>
                <div class="card-body">
                  <span class="text-muted" style="font-size: 12px;">{{item.listdata3}}</span>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header">
                  {{item.list4}}
                </div>
                <div class="card-body">
                  <span class="text-muted" style="font-size: 12px;">{{item.listdata4}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal fade" id="exampleModal{{item.no}}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog p-5">
            <div class="modal-content">
              <div class="modal-header">
                <img [src]="'../assets/img/' + item.src" alt="" width="25px" height="30px">
                <h5 class="modal-title ms-4" id="exampleModalLabel"> {{ item.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
             
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</section>




<section id="career" class="Career pb-5 mb-4">
  <div class="container">
    <h1 class="companyListingTitle">List of Jobs</h1>
    <div class="expandedFilters">
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col" *ngFor="let item of items">
          <div class="card shadow-sm border-0 h-100 rounded-3">
            <div class="card-body pb-3">
              <h6 class="card-subtitle text-body-secondary">{{item.name}}</h6>
            </div>
            <div class="card-footer bg-white border-0 pt-0">
              <span class="text-primary-400 fw-bold">Apply <i class="fa fa-angle-right ps-2"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <section class="expandedFilters">
      <div class="swiper-container">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
          <div class="swiper-slide filter" *ngFor="let item of items">
            <div class="title semi-bold line-clamp-2">
              {{item.name}}
              <div class="sub-title">
                <span class="ellipsis">Apply <i class="fa fa-angle-right ps-2" width="7px" height="11px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="section-header">
      <h3>Contact Us</h3>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="map mb-4 mb-lg-0">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.2607996118822!2d78.77121561400031!3d10.077703992797916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00675dbfffffff%3A0x910acd04bef80762!2sRS%20Infosolution%20%7C%20IT%2FITES%20Company!5e0!3m2!1sen!2sin!4v1636806906244!5m2!1sen!2sin"
            style="border: 0; width: 100%;height: 400px; border-radius: 7px;" frameborder="0"
            allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-5 info">
            <i class="ion-ios-location"></i>
            <p class="d-flex align-items-center">Sri Maha Ganesh Flat,<br />
              No.18/1 Aruna nagar North Extension,<br />
              Karaikudi</p>
          </div>
          <div class="col-md-4 info">
            <i class="ion-ios-telephone"></i>
            <p class="d-flex align-items-center">9840401336</p>
          </div>
          <div class="col-md-3 info">
            <i class="ion-ios-email"></i>
            <p class="ps-5 mt-1">info@infosolution.in</p>
          </div>
        </div>
        <form>
          <div class="row">
            <div class="form-group col-lg-6">
              <label for="exampleInputEmail1" class="form-label">Your Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Your Name">
            </div>
            <div class="form-group col-lg-6">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email address">
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="exampleInputEmail1" class="form-label">Subject</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Subject">
          </div>
          <div class="form-group mt-2">
            <label for="exampleInputEmail1" class="form-label">Message</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Message">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary submitButton">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="footer" id="footer">
  <div class="container">
    <div class="row g-5 justify-content-between">
      <div class="col-md-4">
        <h2>Rs infosolution</h2>
        <p class="text-gray-50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quibusdam repudiandae distinctio voluptatibus
          non accusamus voluptate, libero facilis similique. Quo rerum distinctio totam saepe debitis.
        </p>
        <div class="socialLinks d-flex align-items-center mt-4 pt-2">
          <a href="#" class="socialLinks-item ms-0">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="#" class="socialLinks-item">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="#" class="socialLinks-item">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="offset-md-1 col-md-3">
        <h5 class="fw-bold">Useful Links</h5>
        <ul>
          <li>About</li>
          <li>Service</li>
          <li>Carrer</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="fw-bold">Contact Info</h5>
        <address>
          Sri Maha Ganesh Flat,<br />
          No.18/1 Aruna nagar North Extension,<br />
          Karaikudi
        </address>
        <p>9840401336</p>
        <p>info@infosolution.in</p>
      </div>
    </div>
  </div>
</footer>