$primary-color: #000dff;

.navbar {
  background-color: transparent !important;
  overflow: hidden;
  transition: 0.5s all ease-in;
  top: 20px;
}

.text-gray-50 {
  color: #6D6E8D;
}

.navbar li a {
  font-size: 13px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 16px;
  padding-right: 16px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1 !important;
}

.navbar li:hover a {
  color: #000dff;
}

.navbar-brand {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: rgb(255, 255, 255, 0.95);
  border-radius: 6px;
}

.nav-link {
  transition: 0.3s all ease-in;
}

.navbar-toggler {
  color: #3330e4;
  font-size: 27px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-shrink {
  background-color: #fff !important;
  top: 0;
}

.cursorp {
  cursor: pointer;
}

@media (max-width: 767px) {
  .navbar {
    background-color: #fff !important;
    top: 0;
  }

  .navbar li a {
    color: #111111 !important;
  }
}

.welcome-area {
  position: relative;
  height: 100vh;
  background: url('../assets/img/pair\ programming\ \(4\).svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 6rem;

}

.getInTouch-btn {
  color: #ffff;
  background-color: #000dff;
  border-radius: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.landing-img {
  min-height: 60vh;
}

.welcome-area .welcome-pattern {
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 100;
}

.welcome-area .welcome-pattern img {
  width: 100%;
}

.section-title-small {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 600;
}

#about {
  margin: 4rem 0;
}

#services {
  overflow: hidden;
  padding: 5rem 0;
}

#services .card {
  transition: all 0.3s ease-in;
}

#services .card:hover {
  box-shadow: -10px 10px 76px rgba(54, 127, 255, 0.12);
}

#services .card:hover .moreBtn {
  left: 0;
  background-color: rgba(0, 13, 255, 0.06);
}

#services .card .moreBtn {
  color: #000dff;
  position: relative;
  left: -0.75rem;
  transition: all 0.3s ease-in;
}

.section-header .section-brief {
  color: #6d6e8d;
}

.section-title {
  color: #00044a;
}

.primary-text-color {
  color: #00044a;
}

.serviceIcon span {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 15px 60px rgba(54, 127, 255, 0.1);
  margin-bottom: 1.5rem;
}

#contact {
  background-color: #000dff;
  padding: 5rem 0 6rem 0;
  position: relative;
  margin: 5rem 0;
}

#contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-image: url('../assets/welcome-pattern.png');
  background-repeat: no-repeat;
  background-position-y: calc(100% + 10px);
  z-index: 2;
}

.contactListUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contactListLi {
  display: table;
  margin: 20px 0;
  transition: all .3s ease-in-out;
  color: #fff;
}

.contactListitem-title {
  color: #27CB8B;
}

.contactListUl .contactListLi span:first-child {
  display: table-cell;
  vertical-align: top;
  width: 50px;
  padding-top: 2px;
  color: #fff;
}

.contactListUl .contactListLi span i {
  font-size: 20px;
}

#contact .formContainer {
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 3;
  margin-top: 5rem;
}

.input-group input:not([type=radio]),
select {
  padding: 0.7rem 1rem;
}

.section-header {
  padding-bottom: 30px;
}

h3 {
  font-size: 36px;
  // color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.info {
  color: #283d50;
}

.info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 20px;
}

.info i {
  font-size: 40px;
  font-weight: bold;
  color: #3330e4;
  float: left;
  line-height: 0;
}

.submitButton {
  background: #3330e4;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

.companyListingTitle {
  @extend .primary-text-color;
  margin: 36px 0 24px;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}

.expandedFilters {
  background-color: rgba(0, 13, 255, 0.06);
  border-radius: 16px;
  padding: 2rem 1.5rem;

}

#career {
  .card {
    border-radius: 16px !important;
    transition: all 0.3s ease-out;

    .card-footer {
      border-bottom-left-radius: 16px !important;
      border-bottom-right-radius: 16px !important;
    }
  }

  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
  }
}

.footer {
  min-height: 70vh;
  padding: 4rem 0;
  background: url('../assets/img/icon_3.png.webp');
  background-repeat: no-repeat;
  background-position: 115% 185%;
  background-size: 30%;

  h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    @extend .primary-text-color;
    margin-bottom: 1rem;
  }

  .socialLinks-item {
    width: 40px;
    aspect-ratio: 1;
    color: #000dff;
    display: grid;
    place-content: center;
    background-color: rgba(0, 13, 255, 0.06);
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s ease-in;
    text-decoration: none;
  }

  .socialLinks-item:hover {
    background-color: #000dff;
  }

  .socialLinks-item:hover i {
    color: #fff;
    transform: rotateY(180deg);
  }

  h5 {
    @extend .primary-text-color;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    font-weight: 500;
    @extend .text-gray-50;
    padding: 8px;
    padding-left: 0;
  }

  .contactInfo {
    @extend .text-gray-50;
  }
}

.systemUi-font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}